h1 {
    text-align:center;
    margin-top: 90px;
}


.box {
    height: 413px;
    width: 30%;
    margin-left: 30px;
    border-radius: 0.75rem;
    margin-top: 50px; 
    float: left;
    background-color: lightsteelblue;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  

*{
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    border-radius: 0.75rem;
    height: 40%;
    width: 70%;

}
button {
    border-radius: 0.50rem;
    border-color: black;
}
.shadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.float{
    float:left;
    margin-left: 30px;
   
}
.meny{
    display: flex;
 align-items: center;
 text-align: center;  
    justify-content: center;
    margin: auto;
    width:auto; 
    padding: 10px;

}

.description{
    float: left;
    width: 50%;
    margin-left: 22px;
    text-align:justify;
}
.image{
    margin-left: 215px;
    margin-bottom: 26px;
    margin-top: 24px;

}
#mainContent{
    margin-top: 50px;
}
.labelText{
    text-align: left;
    margin-bottom: 10px;
}

