h1 {
    text-align:center;
    margin-top: 25px;
}


.box {
    height: 400px;
    width: 30%;
    margin-bottom: 30px;
    margin-left: 30px;
    border-radius: 0.75rem;
    margin-top: 40px; 
    float: left;
    background-color: lightsteelblue;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

.text{
    /* font-family: ; */
}
.mainContent{
    background-color: lightgreen;
}
img{
    border-radius: 0.75rem;
    height: 40%;
    width: 70%;

}
.button {
    float: right;
    background-color:blue;
    border-bottom: black;
    
}